version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "9229:9229"
    depends_on:
      - db
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true  # Додаємо для кращого монтування на Windows
    volumes:
      - .:/usr/src/app  # Змінюємо шлях на стандартний
      - /usr/src/app/node_modules
    working_dir: /usr/src/app  # Додаємо working_dir
    command: npm run dev

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
