version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "9229:9229"  # порт для дебагера
    depends_on:
      - db
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app  # ЦЕ ГАРЯЧЕ МОНТУВАННЯ ФАЙЛІВ
      - /app/node_modules  # виключаємо node_modules
    command: npm run dev  # використовуємо nodemon

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
